{% extends "core/base.html" %}
{% block home %}{% url 'home' %}{% endblock %}
{% block about %}{% url 'home' %}#about{% endblock %}
{% block project %}{% url 'home' %}#project{% endblock %}
{% block services %}{% url 'home' %}#services{% endblock %}
{% block contact %}{% url 'home' %}#contact{% endblock %}


{% load static %}

{% block content %}
    <section class="hero-wrap hero-wrap-2" style="background-image: url('{% static 'core/images/grafos.jpg' %}')">
      <div class="overlay"></div>
      <div class="container">
        <div class="row no-gutters slider-text align-items-center justify-content-center">
          <div class="col-md-9 ftco-animate text-center">
            <h1 class="mb-2 bread">Novedades</h1>
          </div>
        </div>
      </div>
    </section>

    <section class="ftco-section bg-light">
			<div class="container">
				<div class="row">
        {% for post in posts %}
          <div class="col-md-6 col-lg-4 ftco-animate">
            <div class="blog-entry">
              <a href="{% url 'blogSingle' post.id post.title|slugify %}" class="block-20 d-flex align-items-end" style="background-image: url({{post.image.url}})">
								<div class="meta-date text-center p-2">
                  <span class="day">{{post.created|date:"d"}}</span>
                  <span class="mos">{{post.created|date:"F"|upper}}</span>
                  <span class="yr">{{post.created|date:"y"}}</span>
                </div>
              </a>
              <div class="text bg-white p-4">
                <h3 class="heading"><a href="#">{{post.title}}</a></h3>
                <p>{{post.subtitle|linebreaks}} </p>
                <div class="d-flex align-items-center mt-4">
	                <p class="mb-0"><a href="{% url 'blogSingle' post.id post.title|slugify %}" class="btn btn-primary">Más Info <span class="ion-ios-arrow-round-forward"></span></a></p>
                </div>
              </div>
            </div>
          </div>
        {% endfor %}
        </div>
			</div>
		</section>
		
 {% endblock %}