{% extends "core/base.html" %}
{% block home %}{% url 'home' %}{% endblock %}
{% block about %}{% url 'home' %}#about{% endblock %}
{% block project %}{% url 'home' %}#project{% endblock %}
{% block services %}{% url 'home' %}#services{% endblock %}
{% block contact %}{% url 'home' %}#contact{% endblock %}


{% load static %}

{% block content %}
    
    <section class="hero-wrap hero-wrap-2" style="background-image: url('{% static 'core/images/grafos.jpg' %}')">
      <div class="overlay"></div>
      <div class="container">
        <div class="row no-gutters slider-text align-items-center justify-content-center">
          <div class="col-md-9 ftco-animate text-center">
            <h1 class="mb-2 bread">Novedades</h1>
          </div>
        </div>
      </div>
    </section>

    <section class="ftco-section">
			<div class="container">
				<div class="row">
          <div class="col-lg-8 ftco-animate">
            <h2 class="mb-3">{{post.title}}</h2>
            <p>{{post.content|safe}}</p>

            


            <div class="pt-5 mt-5">
              
              
              
            </div>
          </div> <!-- .col-md-8 -->

          <div class="col-lg-4 sidebar ftco-animate">
            
            <div class="sidebar-box ftco-animate">
            	<h3>Categoría</h3>
              <ul class="categories">
              {% for category in post.categories.all %}
                <li><a href="{% url 'category' category.id category.name|slugify %}">{{category.name}}</span></a></li>
              {% endfor %}
              </ul>
            </div>

            <div class="sidebar-box ftco-animate">
              <h3>Áreas de Trabajo</h3>
              <ul class="tagcloud m-0 p-0">
              {% for category in categorias %}
                <a href="{% url 'category' category.id category.name|slugify %}" class="tag-cloud-link">{{category.name}}</a>
              {% endfor %}
              </ul>
            </div>

            


            
          </div><!-- END COL -->
        </div>
			</div>
		</section>
{% endblock %}