{% extends "core/base.html" %}
{% load static %}
{% block content %}
    
    <section class="home-slider owl-carousel">
      <div id="home" class="slider-item" style="background-image: url('{% static 'core/images/mapa.jpg' %}')">
      	<div class="overlay"></div>
        <div class="container">
          <div class="row no-gutters slider-text align-items-center justify-content-start" data-scrollax-parent="true">
          <div class="col-md-7 ftco-animate">
          	<span class="subheading">Bienvenido a ACDES</span>
            <h1 class="mb-4">Innovación Social y Tecnológica para alcanzar los ODS</h1>
          </div>
        </div>
        </div>
      </div>

      <div class="slider-item" style="background-image: url('{% static 'core/images/datos.jpg' %}')">
      	<div class="overlay"></div>
        <div class="container">
          <div class="row no-gutters slider-text align-items-center justify-content-start" data-scrollax-parent="true">
          <div class="col-md-7 ftco-animate">
          	<span class="subheading">Sumate al cambio</span>
            <h1 class="mb-4">Big Data para el Cambio Social</h1>
          </div>
        </div>
        </div>
      </div>
    </section>
	<div id="about">
		<section class="ftco-section">
			<div class="container">
				<div class="row d-flex">
					<div class="col-md-5 order-md-last wrap-about align-items-stretch">
						<div class="wrap-about-border ftco-animate">
							<div class="img" style="background-image: url('{% static 'core/images/ideas.jpg' %}'); border"></div>
							<div class="text">
								<h3>Nuestra Visión</h3>
								<p>La Asociación Civil por el Desarrollo Económico y Social (ACDES) fue creada por un grupo de especialistas en innovación tecnológica junto con profesionales de las ciencias sociales que buscan abordar desde un enfoque multidiscpliario distintas problemáticas relacionadas con los Objetivos de Desarrollo Dostenible (ODS).</p>
								<p>Nuestra pasión es desarrollar y promover la utilización de las TICs en el ámbito del tercer sector, las empresas privadas, la administración pública, y la ciudadanía. </p>
								<p>Para ello creemos fundamental la integración de los avances tecnológicos tales como Inteligencia Artificial, IoT, Big Data, Blockchain y criptomonedas con la mirada crítica y el aporte politologos, sociologos, economistas y psicologos, entre otros.</p>
								<p><a href="#" class="btn btn-primary py-3 px-4">Contact us</a></p>
							</div>
						</div>
					</div>
					<div class="col-md-7 wrap-about pr-md-4 ftco-animate">
          	<h2 class="mb-4">Nuestro Objetivo</h2>
						<p>Diseñar, implementar y ejecutar proyectos, tareas y actividades orientadas a promover el alcance de los Objetivos de Desarrollo Sustentable (ODS) aprobados en la Agenda 2030 para el Desarrollo Sustentable .</p>
						<div class="row mt-5">
							<div class="col-lg-6">
								<div class="services text-center">
									<div class="icon mt-2 d-flex justify-content-center align-items-center"><span class="flaticon-collaboration"></span></div>
									<div class="text media-body">
										<h3>Networking</h3>
										<p>Trabajamos en Red con instituciones del tercer sector, universidades, empresas y gobiernos.</p>
									</div>
								</div>
								<div class="services text-center">
									<div class="icon mt-2 d-flex justify-content-center align-items-center"><span class="flaticon-analysis"></span></div>
									<div class="text media-body">
										<h3>I+D+I</h3>
										<p>Apostamos al ciclo de Investigación, Desarrollo e Innovación para promover el cambio social.</p>
									</div>
								</div>
							</div>
							<div class="col-lg-6">
								<div class="services text-center">
									<div class="icon mt-2 d-flex justify-content-center align-items-center"><span class="flaticon-search-engine"></span></div>
									<div class="text media-body">
										<h3>Monitoreo</h3>
										<p>Generamos y analizamos información económica y social desde un enfoque interdisciplinario.</p>
									</div>
								</div>
								<div class="services text-center">
									<div class="icon mt-2 d-flex justify-content-center align-items-center"><span class="flaticon-handshake"></span></div>
									<div class="text media-body">
										<h3>Vinculación Tecnológica</h3>
										<p>Transferimos conocimiento, habilidades y tecnología entre el sector científico y el sector productivo.</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
	</div>
		<section class="ftco-intro ftco-no-pb img" style="background-image: url('{% static 'core/images/bg_3.jpg' %}')">
    	<div class="container">
    		<div class="row justify-content-center mb-5">
          <div class="col-md-10 text-center heading-section heading-section-white ftco-animate">
            <h2 class="mb-0">Sumate a nuestro equipo</h2>
          </div>
        </div>	
    	</div>
    </section>

		{% comment %} <section class="ftco-counter" id="section-counter">
    	<div class="container">
    		<div class="row d-md-flex align-items-center justify-content-center">
    			<div class="wrapper">
    				<div class="row d-md-flex align-items-center">
		          <div class="col-md d-flex justify-content-center counter-wrap ftco-animate">
		            <div class="block-18">
		            	<div class="icon"><span class="flaticon-doctor"></span></div>
		              <div class="text">
		                <strong class="number" data-number="705">0</strong>
		                <span>Projects Completed</span>
		              </div>
		            </div>
		          </div>
		          <div class="col-md d-flex justify-content-center counter-wrap ftco-animate">
		            <div class="block-18">
		            	<div class="icon"><span class="flaticon-doctor"></span></div>
		              <div class="text">
		                <strong class="number" data-number="809">0</strong>
		                <span>Satisfied Customer</span>
		              </div>
		            </div>
		          </div>
		          <div class="col-md d-flex justify-content-center counter-wrap ftco-animate">
		            <div class="block-18">
		            	<div class="icon"><span class="flaticon-doctor"></span></div>
		              <div class="text">
		                <strong class="number" data-number="335">0</strong>
		                <span>Awwards Received</span>
		              </div>
		            </div>
		          </div>
		          <div class="col-md d-flex justify-content-center counter-wrap ftco-animate">
		            <div class="block-18">
		            	<div class="icon"><span class="flaticon-doctor"></span></div>
		              <div class="text">
		                <strong class="number" data-number="35">0</strong>
		                <span>Years of Experienced</span>
		              </div>
		            </div>
		          </div>
	          </div>
          </div>
        </div>
    	</div>
    </section> {% endcomment %}

    {% comment %} <section class="ftco-section">
			<div class="container">
				<div class="row justify-content-center mb-5 pb-2">
          <div class="col-md-8 text-center heading-section ftco-animate">
            <a name="services"><h2 class="mb-4">Our Best Services</h2></a>
            <p>Separated they live in. A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country</p>
          </div>
        </div>
				<div class="row no-gutters">
					<div class="col-lg-4 d-flex">
						<div class="services-2 noborder-left text-center ftco-animate">
							<div class="icon mt-2 d-flex justify-content-center align-items-center"><span class="flaticon-analysis"></span></div>
							<div class="text media-body">
								<h3>Business Analysis</h3>
								<p>Far far away, behind the word mountains, far from the countries Vokalia.</p>
							</div>
						</div>
					</div>
					<div class="col-lg-4 d-flex">
						<div class="services-2 text-center ftco-animate">
							<div class="icon mt-2 d-flex justify-content-center align-items-center"><span class="flaticon-business"></span></div>
							<div class="text media-body">
								<h3>Business Consulting</h3>
								<p>Far far away, behind the word mountains, far from the countries Vokalia.</p>
							</div>
						</div>
					</div>
					<div class="col-lg-4 d-flex">
						<div class="services-2 text-center ftco-animate">
							<div class="icon mt-2 d-flex justify-content-center align-items-center"><span class="flaticon-insurance"></span></div>
							<div class="text media-body">
								<h3>Business Insurance</h3>
								<p>Far far away, behind the word mountains, far from the countries Vokalia.</p>
							</div>
						</div>
					</div>
					<div class="col-lg-4 d-flex">
						<div class="services-2 noborder-left noborder-bottom text-center ftco-animate">
							<div class="icon mt-2 d-flex justify-content-center align-items-center"><span class="flaticon-money"></span></div>
							<div class="text media-body">
								<h3>Global Investigation</h3>
								<p>Far far away, behind the word mountains, far from the countries Vokalia.</p>
							</div>
						</div>
					</div>
					<div class="col-lg-4 d-flex">
						<div class="services-2 text-center noborder-bottom ftco-animate">
							<div class="icon mt-2 d-flex justify-content-center align-items-center"><span class="flaticon-rating"></span></div>
							<div class="text media-body">
								<h3>Audit &amp; Evaluation</h3>
								<p>Far far away, behind the word mountains, far from the countries Vokalia.</p>
							</div>
						</div>
					</div>
					<div class="col-lg-4 d-flex">
						<div class="services-2 text-center noborder-bottom ftco-animate">
							<div class="icon mt-2 d-flex justify-content-center align-items-center"><span class="flaticon-search-engine"></span></div>
							<div class="text media-body">
								<h3>Marketing Strategy</h3>
								<p>Far far away, behind the word mountains, far from the countries Vokalia.</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		
		<section class="ftco-intro ftco-no-pb img" style="background-image: url(images/bg_1.jpg);">
    	<div class="container">
    		<div class="row justify-content-center">
          <div class="col-lg-9 col-md-8 d-flex align-items-center heading-section heading-section-white ftco-animate">
            <h2 class="mb-3 mb-md-0">You Always Get the Best Guidance</h2>
          </div>
          <div class="col-lg-3 col-md-4 ftco-animate">
          	<p class="mb-0"><a href="#" class="btn btn-white py-3 px-4">Request Quote</a></p>
          </div>
        </div>	
    	</div>
    </section> {% endcomment %}

		<section class="ftco-section ftco-no-pb">
			<div class="container-fluid px-0">
				<div class="row no-gutters justify-content-center mb-5">
          <div class="col-md-7 text-center heading-section ftco-animate">
            <a name="project"></A><h2 class="mb-4">Proyectos</h2></a>
			<p>Los proyectos que gestiona ACDES se encuentran abiertos a la colaboración y participación de toda la ciudadanía. Nos apasiona gestionar desde la diversidad. </p>
            <p></p>
          </div>
        </div>
		{% comment %} {% load category_extras %}
		{% get_category_1 as category1 %} {% endcomment %}
				<div class="row no-gutters">
    			<div class="col-md-3">
    				<div class="project img ftco-animate d-flex justify-content-center align-items-center" style="background-image: url('{% static 'core/images/urbanismo.jpg' %}')">
    					<div class="overlay"></div>
    					<a href="blog/category/5/ODS/" class="btn-site d-flex align-items-center justify-content-center"><span class="icon-subdirectory_arrow_right"></span></a>
	    				<div class="text text-center p-4">
	    					<h3><a href="blog/category/5/ODS/">Desarrollo Sustentable</a></h3>
	    				</div>
    				</div>
  				</div>
  				<div class="col-md-3">
    				<div class="project img ftco-animate d-flex justify-content-center align-items-center" style="background-image: url('{% static 'core/images/monitoreo.jpg' %}')">
    					<div class="overlay"></div>
    					<a href="blog/category/2/politicas-publicas/" class="btn-site d-flex align-items-center justify-content-center"><span class="icon-subdirectory_arrow_right"></span></a>
	    				<div class="text text-center p-4">
	    					<h3><a href="blog/category/2/politicas-publicas/" class= "link">>Monitoreo de Políticas Públicas</a></h3>
	    				</div>           
    				</div>
  				</div>

    			<div class="col-md-3">
    				<div class="project img ftco-animate d-flex justify-content-center align-items-center" style="background-image: url('{% static 'core/images/coding2.jpg' %}')">
    					<div class="overlay"></div>
    					<a href="blog/category/4/desarrollo-tecnologico/" class="btn-site d-flex align-items-center justify-content-center"><span class="icon-subdirectory_arrow_right"></span></a>
	    				<div class="text text-center p-4">
	    					<h3><a href="blog/category/4/desarrollo-tecnologico/">Desarrollo Tecnológico</a></h3>
	    				</div>
    				</div>
    			</div>
					<div class="col-md-3">
    				<div class="project img ftco-animate d-flex justify-content-center align-items-center" style="background-image: url('{% static 'core/images/opinion.jpg' %}')">
    					<div class="overlay"></div>
    					<a href="blog/category/3/opinion-publica/" class="btn-site d-flex align-items-center justify-content-center"><span class="icon-subdirectory_arrow_right"></span></a>
	    				<div class="text text-center p-4">
	    					<h3><a href="blog/category/3/opinion-publica/">Observatorio de Opinión Pública</a></h3>
	    				</div>
    				</div>
  				</div>
    		</div>
			</div>
		</section>


   

		<section class="ftco-section bg-light">
			<div class="container">
				<div class="row justify-content-center mb-5 pb-2">
          <div class="col-md-8 text-center heading-section ftco-animate">
            <h2 class="mb-4">Novedades</h2>
            <p>Encontra aquí las últimas novedades de la Asociación.</p>
          </div>
        </div>
				<div class="row">
			{% load blog_extras %}
			{% get_post_list as post_list %}
			{% for post in post_list|slice:3 %}
          <div class="col-md-6 col-lg-4 ftco-animate">
            <div class="blog-entry">
              <a href="{% url 'blogSingle' post.id post.title|slugify %}" class="block-20 d-flex align-items-end" style="background-image: url({{post.image.url}});">
								<div class="meta-date text-center p-2">
                  <span class="day">{{post.created|date:"d"}}</span>
                  <span class="mos">{{post.created|date:"F"|upper}}</span>
                  <span class="yr">{{post.created|date:"y"}}</span>
                </div>
              </a>
              <div class="text bg-white p-4">
                <h3 class="heading"><a href="#">{{post.title}}</a></h3>
                <p>{{post.subtitle|linebreaks}}</p>
                <div class="d-flex align-items-center mt-4">
	                <p class="mb-0"><a href="{% url 'blogSingle' post.id post.title|slugify %}" class="btn btn-primary">Read More <span class="ion-ios-arrow-round-forward"></span></a></p>
	                <p class="ml-auto mb-0">
	                	<a href="#" class="mr-2">{{post.author}}</a>
	                	<a href="#" class="meta-chat"><span class="icon-chat"></span> 3</a>
	                </p>
                </div>
              </div>
            </div>
          </div>
		    {% endfor %}
        </div>
			</div>
		</section>



		 <section class="ftco-section ftco-consult ftco-no-pt ftco-no-pb" style="background-image: url(images/bg_5.jpg);" data-stellar-background-ratio="0.5">
    	<div class="overlay"></div>
    	<div class="container">
    		<div class="row justify-content-end">
    			<div class="col-md-6 py-5 px-md-5">
    				<div class="py-md-5">
		          <div class="heading-section heading-section-white ftco-animate mb-5">
		            <h2 class="mb-4">Request A Quote</h2>
		            <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
		          </div>
		          <form action="#" class="appointment-form ftco-animate">
		    				<div class="d-md-flex">
			    				<div class="form-group">
			    					<input type="text" class="form-control" placeholder="First Name">
			    				</div>
			    				<div class="form-group ml-md-4">
			    					<input type="text" class="form-control" placeholder="Last Name">
			    				</div>
		    				</div>
		    				<div class="d-md-flex">
		    					<div class="form-group">
			    					<div class="form-field">
		        					<div class="select-wrap">
		                    <div class="icon"><span class="ion-ios-arrow-down"></span></div>
		                    <select name="" id="" class="form-control">
		                    	<option value="">Select Guidance</option>
		                      <option value="">Finance</option>
		                      <option value="">Business</option>
		                      <option value="">Auto Loan</option>
		                      <option value="">Real Estate</option>
		                      <option value="">Other Services</option>
		                    </select>
		                  </div>
			              </div>
			    				</div>
		    					<div class="form-group ml-md-4">
			    					<input type="text" class="form-control" placeholder="Phone">
			    				</div>
		    				</div>
		    				<div class="d-md-flex">
		    					<div class="form-group">
			              <textarea name="" id="" cols="30" rows="2" class="form-control" placeholder="Message"></textarea>
			            </div>
			            <div class="form-group ml-md-4">
			              <input type="submit" value="Request A Quote" class="btn btn-white py-3 px-4">
			            </div>
		    				</div>
		    			</form>
		    		</div>
    			</div>
        </div>
    	</div>
    </section>

		
{% endblock content %}